<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Misión</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
<div class="logo">eby</div>
<ul>
<li><a href="/">Inicio</a></li>
<li><a href="/coleccion">Colección</a></li>
<li><a href="/mision">Misión</a></li>
<li><a href="/vision">Visión</a></li>
<li><a href="/contacto">Contacto</a></li>
</ul>
</nav>

<section>
<h2>Misión</h2>
<p>
Diseñar prendas premium que representen autenticidad,
minimalismo y comodidad urbana.
</p>
</section>

</body>
</html>